.tab-container{
    width: 100%; 
    background:rgba(0, 0, 0, 0)
}

.user-img{
    width: 350px;
}

.user-icon{
    color: #9ba1a1;
}

.nav-tabs{
    border-bottom: 1px solid #dee2e6;
}

.card{
    width: 100%; 
    background:rgba(0, 0, 0, 0)
}

.card-body{
    text-align:left;
}

.fas, .far{
    padding-right: 3px;
    padding-left: 3px;
}

.fab{
    padding-right: 8px;
    padding-left: 8px;
}

